.yandexcoordstv__wrapper{
    position: relative;
    width: 800px;
    height: 400px;
}

.yandexcoordstv__map{
    width: 100%;
    height: 375px;
    margin: 0px 0;
}

.yandexcoordstv__map__inner{
    width: 100%;
    height: 100%;
    margin: 0px 0;
}

.yandexcoordstv__input{
    width: calc(100% - 10px);
}
